@import "variables.scss";
@import "../src/scss/base/typography";
@import "~bootstrap/scss/bootstrap";

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: palegoldenrod;
}

.pricing {

  .container {
    max-width: 690px;
    height: 100%;

    @include media-breakpoint-up(md) {
      height: 50%;
    }

  }

  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
  height: 100vh;
  
  
}